:host {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.sidebar {
    background: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;

    &-section {
        & + & {
            margin-top: 16px;
        }
    }
}
